@model Boletim.TURMA

@{
    ViewBag.Title = "Details";
}

<h2>Detalhe</h2>

<div>
    <h4>TURMA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SERIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERIODO_LET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERIODO_LET)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_TURMA }) |
    @Html.ActionLink("Voltar", "Index")
</p>
