@model IEnumerable<Boletim.ALUNO>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #4A6398;
        margin: 100px;
    }

    .um {
        width: 100%;
        color: #000;
        border: 4px solid #000;
        height: 1100px;
        background-color: white;
        border-radius: 25px;
        box-sizing: border-box;
    }

    h2 {
        color: black
    }
</style>
<div class="um">
    <h2>Aluno</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL_ALUNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL_ALUNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.COD_ALUNO }) |
                    @Html.ActionLink("Details", "Details", new { id = item.COD_ALUNO }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.COD_ALUNO })
                </td>
            </tr>
        }

    </table>

</div>
<div>
    @Html.ActionLink("Volta", "Cadastramentos", "Home", null, new { @class = "btn btn-primary" })
</div>
