@model Boletim.Models.Administrador
@{
    ViewBag.Title = "Administrador";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .login-form {
        width: 340px;
        margin: 50px auto;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    fieldset {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 550px;
        background: #f7f7f7;
        color: #000000;
        padding: 30px;
        border: 5px solid #ffffff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -175px;
        margin-top: -150px;
        min-height: 38px;
        border-radius: 2px;
   
    }

    
</style>

<center>
    <h2>Login</h2>
</center>



@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <fieldset>
        <div class="login-form">

            <center>
                <h2 class="text-center">Administrador</h2>
                <img src="~/Content/img/Logo.png " alt="" width="80" height="72" />

            </center>
        </div>

        <div>
            <b>@Html.LabelFor(x => x.Email)</b>
        </div>
        <div class="form-group">
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(Metodo => Metodo.Email)
            </div>
        </div>
        <div>
            <b>@Html.LabelFor(x => x.Senha)</b>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.PasswordFor(model => model.Senha)
                @Html.ValidationMessageFor(Metodo => Metodo.Senha)
            </div>
        </div>


        <br />
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        </div>
        <br />
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Relembra senha</label>
            <a href="#" class="pull-right">Esqueceu Senha?</a>
        </div>
    </fieldset>

    @Html.ActionLink("Voltar", "Index", "Home")

}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

