@model IEnumerable<Boletim.PROFESSOR>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #4A6398;
        margin: 100px;
    }

    .um {
        width: 100%;
        color: #000;
        border: 4px solid #000;
        height: 1100px;
        background-color: white;
        border-radius: 25px;
        box-sizing: border-box;
    }

    h2 {
        color: black
    }
</style>
<div class="um">

    <h2>Professor</h2>
    <br>
    <p>
        @Html.ActionLink("Criar Professor", "CreateProfessor", new { }, new { @class = "btn btn-success" })
    </p>
    <br>
    <br>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                <td>
                    @Html.ActionLink("Edit", "EditProfessor", new { id = item.COD_PROF }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.COD_PROF }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.COD_PROF}, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
<div>
    @Html.ActionLink("Retornar", "Cadastramentos", "Home", null, new { @class = "btn btn-primary" })
</div>